{% load i18n sekizai_tags static %}

{% if urlpath %}
<div id="article-breadcrumbs" class="row">
<nav aria-label="breadcrumb">
<ol class="breadcrumb my-0">
  {% for ancestor in urlpath.cached_ancestors %}
    <li class="breadcrumb-item"><a href="{% url 'wiki:get' path=ancestor.path %}">{{ ancestor.article.current_revision.title|truncatechars:25 }}</a></li>
  {% endfor %}
  <li class="breadcrumb-item active">{{ article.current_revision.title|truncatechars:25 }}</li>
</ol>
</nav>
  <!--div class="btn-group" style="margin-left: 10px;">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px;" type="button"
            title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}"
            aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-sitemap"></span>
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for child in children_slice %}
          <a class="dropdown-item" href="{% url 'wiki:get' path=child.path %}">
            {{ child.article.current_revision.title }}
          </a>
        {% empty %}
        <a class="dropdown-item" href="#"><em>{% trans "No sub-articles" %}</em></a>
      {% endfor %}
      {% if children_slice_more %}
      <a class="dropdown-item" href="#"><em>{% trans "...and more" %}</em></a>
      {% endif %}
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'wiki:dir' path=urlpath.path %}">{% trans "Browse articles in this level" %} &raquo;</a>
    </div>
  </div-->
  <div class="btn-group" style="margin-left: 10px;">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px 14px;" type="button"
            title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}"
            aria-haspopup="true" aria-expanded="false">
      <span class="fa fa-file-alt mr-1"></span> Problemfeld hinzufügen
      <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% if urlpath.parent %}
        <a class="dropdown-item" href="{% url 'wiki:create' path=urlpath.parent.path %}" style="padding: 7px;">
          <span class="fa fa-arrow-right"></span>
          {% blocktrans with article.current_revision.title as title %}New article next to {{ title }}{% endblocktrans %}
        </a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'wiki:create' path=urlpath.path %}" style="padding: 7px;">
          <span class="fa fa-arrow-down"></span>
          {% blocktrans with article.current_revision.title as title %}New article below {{ title }}{% endblocktrans %}
        </a>
    </div>
  </div>

	<script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
	<!--script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.13/dist/vuetify.min.js"></script>
	<script src="https://unpkg.com/v-autocomplete@latest"></script>
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">


	<div id="app">
  <v-app id="inspire">
    <v-card
      color="teal lighten-2"
      dark
    > <v-card-title class="headline teal lighten-3">
        Search for wiki articles
      </v-card-title>
      <v-card-text>
        <v-autocomplete
          v-model="model"
          :items="items"
          :loading="isLoading"
          color="white"
          hide-no-data
          hide-selected
          item-text="Description"
          item-value="API"
          label="Public APIs"
          placeholder="Start typing to Search"
          prepend-icon="mdi-database-search"
          return-object
@change="someHandler"
        ></v-autocomplete>
      </v-card-text>
      <v-divider></v-divider>
      <v-expand-transition>
        <v-list
          v-if="model"
          class="teal lighten-3"
        >
          <v-list-item
            v-for="(field, i) in fields"
            :key="i"
          >
            <v-list-item-content>
              <v-list-item-title v-text="field.value"></v-list-item-title>
              <v-list-item-subtitle v-text="field.key"></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-expand-transition>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :disabled="!model"
          color="grey darken-3"
          @click="model = null"
        >
          Clear
          <v-icon right>
            mdi-close-circle
          </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-app>
</div>
  
  <div class="clearfix"></div>
</div>
{% endif %}


<script>
	Vue.component('v-autocomplete', VAutocomplete.default)

	const app = new Vue({
  	  el: '#app',
  	  vuetify: new Vuetify(),
  	  data: () => ({
    	descriptionLimit: 60,
    	titleLimit: 60,
    	entries: [],
    	isLoading: false,
    	model: null,
    	search: null,
  	  }),

  	  computed: {
    	fields () {
      	  if (!this.model) return []

      	  return Object.keys(this.model).map(key => {
        	return {
          	  key,
          	  value: this.model[key] || 'n/a',
        	}
      	  })
    	},
    	items () {
      	  return this.entries.map(entry => {
        	const Content = entry.content.length > this.descriptionLimit
          	  ? entry.content.slice(0, this.descriptionLimit) + '...'
          	  : entry.content
			const Title = entry.title.length > this.titleLimit
			  ? entry.title.slice(0, this.titleLimit) + '...'
			  : entry.title

        	return Object.assign({}, entry, { Title })
      	  })
    	},
  	  },
  	  methods: {
		someHandler: function(query) {
      	  //fetch('https://api.publicapis.org/entries')
		  fetch(`/run/search/wiki/${query}`)
        	.then(res => res.json())
        	.then(res => {
			  console.log(res)
          	  const { count, articles } = res
          	  this.count = count
          	  this.entries = articles
        	})
        	.catch(err => {
          	  console.log(err)
        	})
        	.finally(() => (this.isLoading = false))
		}
	  },
  	  watch: {
    	search (val) {
      	  // Items have already been loaded
      	  if (this.items.length > 0) return

      	  // Items have already been requested
      	  if (this.isLoading) return

      	  this.isLoading = true

      	  // Lazily load input items
      	  fetch('https://api.publicapis.org/entries')
        	.then(res => res.json())
        	.then(res => {
          	  const { count, entries } = res
          	  this.count = count
          	  this.entries = entries
        	})
        	.catch(err => {
          	  console.log(err)
        	})
        	.finally(() => (this.isLoading = false))
    	},
  	  },
	})	

</script>

