<mjml>
  <mj-head>
    <mj-title>{% block email_name %}</mj-title>
    <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto:300,500"></mj-font>
    <mj-attributes>
      <mj-all font-family="Roboto, Helvetica, sans-serif"></mj-all>
      <mj-text font-weight="300" font-size="16px" color="#616161" line-height="24px"></mj-text>
      <mj-section padding="0px"></mj-section>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section padding="20px 0">
      <mj-column width="100%">
                <mj-image src="https://strafrecht-online.org/_style/kategorien/start.png" />
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column width="65%">
        <mj-text align="center" font-weight="700" padding="0px" font-size="24px">{% block email_name %}</mj-text>
        <mj-divider border-width="2px" border-color="#616161"></mj-divider>
        <mj-divider border-width="2px" border-color="#616161" width="45%"></mj-divider>
      </mj-column>
    </mj-section>
    <mj-section padding-top="30px">
      <mj-column width="100%">
        <mj-text>
{% for b in email_body %}
{{ b }}
{% endfor %}
<p>Bisherige Newsletter finden Sie hier:</p>
<p>https://strafrecht-online.org/newsletter/</p>
<p>Unter dem nachfolgenden Link k&ouml;nnen Sie Ihr Newsletter-Abonnement verwalten:</p>
<p>https://strafrecht-online.org/newsletter/verwaltung/#TOKEN</p>
<p>Roland Hefendehl<br/>
Institut f&uuml;r Kriminologie und Wirtschaftsstrafrecht<br/>
Tel.: +49 (0)761 / 203-2210<<br/>
Mail: hefendehl@jura.uni-freiburg.de<br/>
Netz: https://strafrecht-online.org</p>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>