[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
wagtail = "*"
wiki = "*"
django-admin-interface = "*"
django-pagedown = "*"
html2text = "*"
tqdm = "*"
markdownify = "*"
django-leaflet = "*"
django-comments-xtd = "*"
django-livereload-server = "*"
wagtailcolumnblocks = "*"
wagtailnews = "*"
wagtailmenus = "*"
django-debug-toolbar = "*"
wagtail-birdsong = "*"
django-filter = "*"
wagtailpolls = "*"
django-markdownify = "*"
sentry-sdk = "*"
django-pipeline = "*"
wagtail-linkchecker = "*"
celery = {extras = ["redis"],version = "*"}

[requires]
python_version = "3.8"
