{% extends "base.html" %}



{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags website_tags %}
{% load wagtailroutablepage_tags %}

{% block body_class %}template-websitepage{% endblock %}

{% block content %}
{% csrf_token %}
	<div class="w-full" style="width: 100%;">
		<div class="header-image">
			{% image page.cover original %}
			{% if page.cover_caption %}
			<div class="header-caption">{{ page.cover_caption }}</div>
			{% endif %}
		</div>

		<div class="content">
			<!--{% include_block page.content %}-->
			
			<h2 style="font-weight: 700; margin-bottom: 50px;">Events</h2>

			<div class="role-group" style="display: flex; flex-wrap: wrap;">
				{% for event in events %}
				<div class="text-center" style="width: fit-content; padding: 10px 10px; width: 25%;">
					<a class="text-dark" href="{% routablepageurl page "event" event.id %}">
						{% image event.poster width-200 %}
						<!--h6 class="mt-2">{{ event.name }}</h6-->
						<!--p class="meta badge badge-dark">{{ event.date }}</p-->
					</a>
				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
{% endblock content %}
