{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags wagtailimages_tags website_tags %}
{% load website_tags %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/news_article_index_page.css' %}">
{% endblock %}

{% block body_class %}template-websitepage{% endblock %}

{% block content %}
	<div class="news-index-page">
		<div class="col-md-12">
			<h2 class="mb-4">Newsletters</h2>

			{% for semester in semesters %}
			<div class="article-group" style="margin-bottom: 50px;">
				<h3>{{ semester.semester }}</h3>

				<div class="article-cards" style="display: flex; flex-wrap: wrap;">
					{% for newsletter in semester.newsletters %}
					<div class="article-card" style="margin: 10px;">
						<a href="/documents/{{ newsletter.id }}/{{ newsletter.filename }}">{{ newsletter.title | prettify }}</a>
						<!--div>
							<span class="meta badge badge-dark">{{ semester.year }}</span>
						</div-->
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>
		</div>
	{% endblock %}
