{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags wagtailimages_tags website_tags %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/person_index_page.css' %}">
{% endblock %}

{% block body_class %}template-websitepage{% endblock %}

{% block content %}
	<div class="news-index-page">
		<div class="col-md-12">
			<h2>News Articles</h2>

			{% for article in articles.specific %}
			<div>
				<a href="{% pageurl article %}">{{ article.title }}</a>
				<p class="meta badge badge-dark">{{ article.date }}</p>
			</div>
			{% endfor %}

		</div>
	</div>
{% endblock %}
