.article-group h3 {
	font-size: 1.5rem;
	font-weight: 600;
}
.article-cards {
	display: flex;
	flex-direction: row;
}

.article-card {
	background: rgb(247, 247, 245);
	border: 1px solid #efefef;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	padding: 14px;
	width: 400px;
}
.article-card a {
	color: teal;
	font-size: 18px;
	font-weight: 600;
}
.article-card span {
	display: inline-block;
	width: fit-content;
}
