.sidebar {
	width: auto;
}

.sidebar .sidebar-item {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 50px;
}

.sidebar img {
	max-width: 50%;
}

.sidebar .left {
	float: left;
}

.sidebar img {
	margin-right: 10px;
}

.sidebar .right {
	font-size: 14px;
	float: right;
}

.sidebar img.right {
	margin-left: 10px;
}

.sidebar p {
	display: inline;
	margin: 0px;
}

.sidebar ul {
	list-style: none;
	padding: 0px;
}
