{% load wagtailimages_tags %}

<div class="sidebar sidebar-poll poll">
	<h5>Poll</h5>
	<p>
		Corona hat die Gefängnisse auf der ganzen Welt teilweise geleert.
	</p>
	<div class="question">
		<input id="answer-1" name="poll" type="radio" value="0">
		<label for="answer-1">
			Ein guter Anlass darüber nachzudenken, ob dies nicht eine Dauerlösung werden könnte.
		</label>
		</div>
		<div class="question">
			<input id="answer-2" name="poll" type="radio" value="0">
			<label for="answer-2">
				Eine Sonderkonstellation sollte diese Grundsatzfrage nicht beeinflussen.
			</label>
		</div>
		<div class="question">
			<input id="answer-3" name="poll" type="radio" value="0">
			<label for="answer-3">
				In den Gefängnissen sind die, für die es keine andere Alternative gibt.
			</label>
		</div>
		<div class="bottom">
			<a href="#">Results</a>
			<input class="submit" type="submit" value="Submit">
		</div>
	</div>
</div>
