{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="flex flex-col col-md-12">
	<h2>Quizes</h2>

	<div class="flex flex-col col-md-9">
		{% for category in categories %}
				<div class="d-flex bg-white rounded p-4 mb-2 align-items-center justify-content-between">
					<h6 class="font-weight-bold">
						<img src="">
						{{ category.current_revision.long_name }}
					</h6>

					{% for question in category.question_set.all %}
						{% if forloop.first %}
						<a href="{% url 'quiz:category_question' category.id question.id %}?state=start" class="btn btn-info">Start Quiz</a>
						{% endif %}
					{% endfor %}
				</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
