{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_pagetitle %}{% trans "Problemfeld gelöscht" %}{% endblock %}

{% block wiki_contents %}
  <style type="text/css">
    label[for=id_confirm] {
      float: left;
      margin-right: 10px;
    }
  </style>
  <h1 class="page-header">{% trans "Problemfeld gelöscht" %}</h1>

  <p class="lead">
  {% trans "Das Problemfeld, nach dem du suchst, wurde gelöscht." %}
  </p>

  <div class="row">

  {% if not article.current_revision.locked or article|can_delete:user %}
    <div class="col-lg-4">
      <h2>{% trans "Restore" %}</h2>
      <div class="well">
        <p>{% trans "Du kannst dieses Problemfeld und seine untergeordneten Problemfelder wiederherstellen, indem du auf Wiederherstellen klickst." %}</p>
        <p>
          <a href="?restore=1" class="btn btn-secondary">
            <span class="fa fa-repeat"></span>
            {% trans "Wiederherstellen" %}
          </a>
        </p>
      </div>
    </div>
  {% endif %}

  {% if article|can_moderate:user %}
    <div class="col-lg-8">
      <h2>{% trans "Löschung bestätigen" %}</h2>
      <div class="well">
        <p>{% trans "Mit einem Klick auf 'Endgültig löschen' kannst du dieses Problemfeld und alle untergeordneten Problemfelder dauerhaft löschen. Diese Aktion kann nicht rückgängig gemacht werden." %}</p>
        <form method="POST" class="form form-vertical">
          {% csrf_token %}
          {% wiki_form purge_form %}
            <button class="btn btn-secondary">
              <span class="fa fa-remove"></span>
              {% trans "Endgültig löschen" %}
            </button>
        </form>
      </div>
    </div>
  {% endif %}

  </div>

{% endblock %}
