{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags %}


{% block wiki_pagetitle %}{% trans "Problemfeld löschen" %}{% endblock %}

{% block wiki_contents %}
  <h1 class="page-header">{% trans "Löschen" %} "{{ article.current_revision.title }}"</h1>

  {% if cannot_delete_root %}
    <p class="lead">{% trans "Du kannst das Problemfeld auf dieser Ebene nicht löschen." %}</p>
    <p><a href="{% url 'wiki:get' path=urlpath.path article_id=article.id %}">{% trans "Zurück" %}</a></p>
  {% else %}

    {% if cannot_delete_children %}

      <p class="alert alert-danger"><strong>{% trans "Du kannst das Problemfeld nicht löschen, weil deine Berechtigungen hierzu nicht ausreichen. Versuche, zunächst die untergeordneten Problemfelder zu löschen - eins nach dem anderen." %}</strong></p>

    {% endif %}

    {% if delete_children %}

      <p class="lead">{% trans "Du löschst gerade dieses Problemfeld inklusive aller untergeordneten Problemfelder. Bist du sicher, dass du das machen möchtest?" %}</p>

      <h2>{% trans "Articles that will be deleted" %}</h2>

      <ul>
        {% for child in delete_children %}
        <li><a href="{% url 'wiki:get' article_id=child.article.id %}" target="_blank">{{ child.article }}</a></li>
        {% if delete_children_more %}
        <li><em>{% trans "...and more!" %}</em></li>
        {% endif %}
        {% endfor %}
      </ul>

    {% endif %}

    {% if not cannot_delete_children %}
    <p class="lead">{% trans "Du löschst gerade dieses Problemfeld. Bitte bestätige den Vorgang." %}</p>

    <form method="POST" class="form-horizontal">
      {% wiki_form delete_form %}
      <div class="form-group form-actions">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
          <a href="{% url 'wiki:get' path=urlpath.path article_id=article.id %}" class="btn btn-secondary">
            <span class="fa fa-arrow-left"></span>
            {% trans "Zurück" %}
          </a>
          <button type="submit" name="save_changes" class="btn btn-danger">
            <span class="fa fa-trash-o"></span>
            {% trans "Problemfeld löschen" %}
          </button>
        </div>
      </div>
    </form>
    {% endif %}

  {% endif %}

{% addtoblock "js" %}
<script type="text/javascript">
  $('#id_revision').val('{{ article.current_revision.id|safe }}');
</script>
{% endaddtoblock %}

{% endblock %}
