{% load i18n %}
{% load comments %}
{% load wagtailcore_tags wagtailnews_admin_tags %}
{% load wagtailroutablepage_tags %}


{% block widget %}
<div class="">
{% regroup events by date|date:"Y" as events_by_year %}
{% for date in events_by_year %}
<h3 style="margin-top:30px;font-weight:600;">{{ date.grouper }}</h3>
{% for event in date.list %}
<p style="margin-bottom:7px;"><a href="{{ event.url }}">{{ event.name }} ({{ event.date|date:"d.m.Y" }})</a></p>
{% endfor %}
{% endfor %}
</div>
{% endblock %}
