{% load i18n %}
{% load comments %}
{% load wagtailcore_tags wagtailnews_admin_tags %}
{% load wagtailroutablepage_tags %}


{% block widget %}
<div class="">
{% regroup events by semester as events_by_semester %}
{% for semester in events_by_semester %}
<h3 style="margin-top:30px;font-weight:600;">{{ events_by_semester.get_semester_display }}</h3>
{% for event in semester.list %}
<p style="margin-bottom:7px;"><a href="{{ event.url }}">{{ event.name }} ({{ event.date|date:"d.m.Y" }})</a></p>
{% endfor %}
{% endfor %}
</div>
{% endblock %}
