{% load i18n %}
{% load wagtailcore_tags wagtailnews_admin_tags %}
{% load wagtailroutablepage_tags %}


{% block widget %}
<div class="">
	<h2>Letzte News & Abstimmungen</h2>

	<div class="news-widgets">
	{% for article in articles %}
		<div class="news-widget">
			<div class="news-widget-inner">
				<div class="date">{{ article.date|date:"d.m.Y" }}</div>
				<div class="title">{{ article.title }}</div>
				<div class="body">{{ article.body | richtext | truncatechars:200 }} <a href="{{ article.url }}">weiterlesen</a></div>
				<div class="comments">Noch keine Kommentare</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
